@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

:root {
  --font: "IBM Plex Sans", sans-serif;
  --blue: rgb(102, 226, 220);
  --orange-red: rgb(250, 116, 83);
  --yellow-orange: rgb(255, 185, 100);
  --white: rgb(252, 250, 249);
  --black: rgb(25, 24, 38);
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  background-image: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 582px 780px;
  background-position: top -200px right -220px;
  color: var(--black);
  font-family: var(--font);
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
}

/* Shared Styles */
.container {
  width: min(87.2%, 32.7rem);
}

.header,
.footer {
  margin-inline: auto;
}

.logo {
  height: 3.2rem;
}

/* Header */

.header .logo {
  margin-top: 4rem;
}

/* Hero */

.hero {
  margin: 6.4rem auto 0;
}

.main-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.454545px;
}

.hero .paragraph {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-top: 2rem;
}

/* Call to Action */

.cta-wrapper {
  background: var(--black);
  background-image: url("../assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-size: 28rem 42rem;
  background-position: top center;
  border-radius: 12px;
  padding-top: 38rem;
  margin-top: 16.6rem;
  position: relative;
}

.cta-wrapper::before {
  content: "";
  width: 20.9rem;
  height: 43rem;
  background-image: url("../assets/illustration-app.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -9.8rem;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.cta {
  background-color: var(--orange-red);
  color: var(--white);
  border-radius: 12px;
  padding: 4.8rem 3.7rem 4.8rem 3.6rem;
}

.cta .subheading {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
}

.cta .paragraph {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-top: 1.2rem;
}

.cta .pricing {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 3.6rem;
}

.pricing .cost {
  font-weight: 700;
  font-size: 6.5rem;
  line-height: 5.2rem;
}

.cta-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.cta-btn {
  display: block;
  border-radius: 12px;
  padding: 1.5rem 1.5rem 1.4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100%, 29.6rem);
  gap: 0.8rem;
}

.cta-btn.apple {
  background-color: var(--black);
  color: var(--white);
}

.cta-btn.android {
  background-color: var(--white);
  color: var(--black);
}

/* Footer */

.footer .logo {
  margin-top: 6.4rem;
  margin-bottom: 3.2rem;
}

.footer-content {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.email-address {
  font-weight: 700;
  color: var(--black);
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 6.4rem;
  margin-bottom: 8rem;
}

/* Media Queries */

@media screen and (min-width: 564px) {
  /* General Styles */

  body {
    background-image: url("../assets/bg-pattern-1.svg"),
      url("../assets/bg-main-tablet.png");
    background-size: 267px 400px, 1283px 1108px;
    background-position: top -32px right -36px, top -275px right -100px;
  }

  /* Shared Styles */
  .container {
    width: min(90.625%, 69.6rem);
  }

  /* Header */

  .header .logo {
    margin-top: 6.2rem;
  }

  /* Hero */

  .hero {
    margin: 9.5rem auto 0;
  }

  .main-heading {
    font-size: 6.4rem;
    line-height: 6.4rem;
    letter-spacing: -0.727273px;
    width: min(100%, 52rem);
  }

  .hero .paragraph {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-top: 2.8rem;
    width: min(100%, 51.4rem);
  }

  /* Call to Action */

  .cta-wrapper {
    width: min(90.625%, 69.6rem);
    margin: 24.9rem auto 0;
    padding-top: 60rem;
    background-position: top -40px left 336px;
  }

  .cta-wrapper::before {
    width: 27rem;
    height: 55.6rem;
    top: -13.8rem;
    left: 6.4rem;
    right: auto;
    margin-inline: auto;
  }

  .cta {
    padding: 4.8rem 4.9rem 4.8rem 4.8rem;
    position: absolute;
    top: 15rem;
    right: 5.8rem;
    width: 39.9rem;
  }

  /* Footer */

  .footer {
    position: relative;
    margin-bottom: 8.5rem;
  }

  .footer .logo {
    margin-top: 18.3rem;
  }

  .footer-content {
    width: min(100%, 36.6rem);
  }

  .email-address {
    font-weight: 700;
    color: var(--black);
  }

  .social-icons {
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 2.9rem;
  }
}

@media screen and (min-width: 1440px) {
  /* General Styles */

  body {
    background-image: url("../assets/bg-pattern-1.svg"),
      url("../assets/bg-main-desktop.png");
    background-size: 267px 400px, 1913px 2058px;
    background-position: top -40px right, top -112px left -146px;
  }

  /* Shared Styles */
  .container {
    width: min(77.08333%, 111rem);
  }

  /* Hero */

  .hero {
    margin: 12.7rem auto 0;
  }

  .main-heading {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -1px;
    width: min(100%, 101.5rem);
  }

  .hero .paragraph {
    font-size: 2rem;
    line-height: 3.4rem;
    margin-top: 4rem;
    width: min(100%, 82.5rem);
  }

  /* Call to Action */

  .cta-wrapper {
    width: min(77.08333%, 111rem);
    margin: 32.1rem auto 0;
    background-size: 31.2rem 46.8rem;
  }

  .cta-wrapper::before {
    width: 31.2rem;
    height: 64.2rem;
    top: -21.3rem;
    left: 10.2rem;
  }

  .cta {
    padding: 5.8rem 5.9rem 4.8rem 5.4rem;
    position: absolute;
    top: 9rem;
    right: 9.5rem;
    width: 44.6rem;
  }

  .cta .subheading {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .cta .paragraph {
    font-size: 2rem;
    line-height: 3.4rem;
    margin-top: 2.2rem;
  }

  .cta .pricing {
    margin-top: 3.9rem;
  }

  .cta-btn-container {
    margin-top: 4.6rem;
  }

  .cta-btn {
    width: 100%;
  }

  /* Footer */

  .footer {
    margin-top: 20.2rem;
    margin-bottom: 9.1rem;
    display: flex;
  }

  .footer .logo {
    margin-top: 0;
  }

  .contact-container {
    margin-left: 137.76px;
  }

  .social-icons {
    position: static;
    margin-left: auto;
  }
}
